
body {
  background-color: lavender;
  background-size: contain;
  
}

.fondo {
  width: 100%;
  height: 850px;
  background-image: url("./img/semaforo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  filter: grayscale(80%);
}

.top {
  width: ;
}
.semaforo {
  position: absolute;
  top: 218px;
  left: 753px;
  width: 170px;
  height: 415px;
  background-color: yellow;
  border-radius: 5%;
  background: transparent;
}

.redlight {
  
  position: absolute;
  width: 100px ;
  height: 100px;
  background-color: red;
  border-radius: 100%;
  top: 250px;
  left: 785px;
 /*  background: transparent; */
 
  
}
.orangelight {
  position: absolute;
  width: 100px ;
  height: 100px;
  background-color: orange;
  border-radius: 100%;
  top: 375px;
  left: 785px;
  
}
.greenlight {
  position: absolute;
  width: 100px ;
  height: 100px;
  background-color: green;
  border-radius: 100%;
  top: 497px;
  left: 785px;
  
}

.glow {
  box-shadow: 0 0 50px 30px #f8ffcc;
  
}

